
    </div>

    <div class="flex justify-between h-20 items-center border-t-2">
        <div class="left"> <p>&copy; All Rights Reserved. 2020-2022</p> </div>
        <div class="right">
            <a href="https://github.com/REGEX777" class="text-teal-400 font-code font-bold">regex</a>
        </div>
    </div>


</body>
<script src="javascript/reload.js"></script>
</html>