<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Source+Code+Pro:ital@1&display=swap" rel="stylesheet">    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/82eb69e53c.js" crossorigin="anonymous"></script>
    <title>CookBook</title>
</head>

<body class="mt-10 ml-20 mr-20 font-open-sans">
    <div class="h-auto">
    <div class="flex justify-between items-center h-20 border-b-2 transition duration-[0.25s] ease-out">
        <div>
            <p class="text-xl font-semibold font-dm-serif">Cook Book!</p>
        </div>
        <div class="flex items-center gap-2">
            <i class="fa-brands fa-github pl-1"></i>
            <a href="https://github.com/REGEX777/mealDB-project/">Github</a>
        </div>
    </div>